<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bank_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="TSF Bank"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bank_app">
        <activity android:name=".SendToUser"></activity>
        <activity android:name=".HistoryList" />
        <activity android:name=".Userdata" />
        <activity android:name=".UserList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>